*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display:grid;
    place-items: center;
    font-family: 'Share Tech Mono', monospace;
    background-image: url("https://c.pxhere.com/photos/ab/c9/black_blue_branches_dark_dusk_evening_glow_horizon-1260004.jpg!d"); 
    background-position: center 100%; 
    background-size: cover; 
    /*backdrop-filter: blur(1px);*/
}

.container_panel{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*background-color: #232c3f;*/
}
.countdown{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    flex-wrap: wrap;
}
.countdown div{
    display: grid;
    place-items: center;
    padding: 10px;
}
h1{
    text-align: center;
    color: white;
    font-size: 40px;
    padding: 30px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    text-align: center;
    color: white;
    font-size: 40px;
    padding: 30px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    display: grid;
    place-items: center;
    border: solid 2px #fff;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    color: white;
    font-size: 2.3rem;
    font-weight: bold;
    background-color: #70a9ca;
}
span{
    display: block;
    padding: 10px;
    text-align: center;
    color: #c5e9ff;
    font-size: 1.5rem;
    font-weight: 600;
}
.panel_final{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    transform: translateY(-100%);
    transition: ease-in-out 0.5s;
    background-color: #06132f;
}
.panel_final h1{
    text-align: center;
    font-size: 100px;
    color: white; 
}
